{{- if .Values.mcpServer.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.mcpServer.service.name }}
  labels:
    {{- include "kguardian.labels" . | nindent 4 }}
spec:
  type: {{ .Values.mcpServer.service.type }}
  ports:
    - port: {{ .Values.mcpServer.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ .Values.mcpServer.service.name }}
{{- end }}
