---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build and Test Advisor

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-go.yaml
      - 'advisor/*.go'
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build-go.yaml
      - 'advisor/*.go'

permissions:
  contents: read

defaults:
  run:
    working-directory: ./advisor

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.24.x' ]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
        with:
          version: latest
          working-directory: ./advisor
          args: --timeout=5m

  build:
    runs-on: ubuntu-latest
    needs: [lint]
    strategy:
      matrix:
        go-version: [ '1.24.x' ]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: go get -v ./...

      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: go test -v ./... > test-results-${{ matrix.go-version }}.json

      - name: Upload Go test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: test-results-${{ matrix.go-version }}
          path: test-results-${{ matrix.go-version }}.json
