---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Charts: Release to GHCR OCI"

on:
  workflow_dispatch: {}
  push:
    tags:
      - "chart/v*"

env:
  CHARTS_SRC_DIR: "kguardian"
  TARGET_REGISTRY: ghcr.io

jobs:
  release-charts:
    name: Release Charts
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.TARGET_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

      - name: Publish Helm Chart to GHCR
        run: |
          helm package charts/${{ env.CHARTS_SRC_DIR }}
          helm push kguardian-*.tgz oci://${{ env.TARGET_REGISTRY }}/${{ github.repository_owner }}/charts
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
